* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
.github/workflows/*.yml text eol=lf
*.asm text eol=lf
*.do text eol=lf
*.md text eol=lf
*.py text eol=lf
*.qsf text eol=lf
*.qpf text eol=lf
*.sdc text eol=lf
*.tex text eol=lf
*.txt text eol=lf
*.v text eol=lf
Makefile text eol=lf
